@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s forwards;
}
.warm {
  background-image: url(./assets/warm.jpg);
  background-repeat: no-repeat;
  color: #ffff;
}

.cold {
  background-image: url(./assets/rainy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
